@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000300;
}

:root {
  --main: #000300;
  --accent: #00df9a;
}

.button{
@apply bg-[var(--accent)] rounded-md font-medium my-6 mx-auto py-3 text-black w-48 hover:bg-gray-100;
}

.button-black{
  @apply bg-[var(--main)] text-[var(--accent)] hover:text-[var(--main)] md:mx-0
}